html,body {
    height: 100%;
  }

* {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
}
body {
    background: radial-gradient(circle, rgba(95,209,210,1) 0%, rgba(252,198,79,1) 100%);
    overflow: hidden; /* Hide scrollbars */
   
}
#Current_Channel {
    text-align: center;
    color: rgb(49, 49, 144);
}



